.about-me {
  align-items: center;
  background-color: var(--dark-mode);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 16px;
  padding-top: 40px;
  width: 100%;
}

.about-me__photography {
  display: flex;
  justify-content: space-evenly;
}

.about-me__photography img {
  margin: 12px;
  /* width: 45%;
  height: 125px; */
}

.about-me__tittle {
  color: var(--light-orange);
  font-size: 2em;
  text-align: center;
}

.container__slider {
  position: relative;
  width: 519px;
  height: 335px;
  overflow: hidden;
}

.about-me__text input {
  display: none;
}

.about-me__text {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
  height: 88%;
}

.slide {
  transition: 2s;
}

.about-me__questions {
  border: 2px dashed var(--header);
  border-radius: 10px;
  color: var(--light-mode);
  text-align: center;
  margin: 8px;
  padding: 8px;
  width: 500px;
}

.about-me__questions__tittle {
  text-align: center;
  color: var(--light-gray);
}

.manual_navigation {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  margin-top: 12px;
  justify-content: center;
}

.manual_btn {
  display: block;
  border: 1px solid var(--light-mode);
  height: 15px;
  width: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual_btn:not(:last-child) {
  margin-right: 40px;
}

/* .manual_btn:hover {
  background-color: var(--light-mode);
} */

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  align-items: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  justify-content: center;
}

.navigation-auto div {
  border: 1px solid var(--light-mode);
  border-radius: 10px;
  height: 15px;
  width: 15px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--light-mode);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--light-mode);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--light-mode);
}

.aboute-me__curriculum-vitae {
  background-color: var(--light-orange);
  box-shadow: 2px 2px 10px var(--header);
  border: 1px solid var(--burgundy-red);
  border-radius: 5px;
  margin-top: 24px;
  transition: 0.1s all;
  width: 180px;
}

.aboute-me__curriculum-vitae:hover {
  background-color: var(--dark-orange);
  transform: scale(1.05);
}

.aboute-me__curriculum-vitae a {
  color: var(--burgundy-red);
  display: block;
  padding: 13px;
  text-decoration: none;
}

@media (max-width: 535px) {
  .container__slider {
    width: 350px;
    height: 400px;
  }

  .about-me__tittle {
    margin: 6px;
  }

  .about-me__text {
    margin-top: 9px;
  }

  .about-me__questions {
    margin: 15px 10px;
    width: 330px;
  }

  .navigation-auto {
    margin-top: 5px;
  }
}
