.contact {
  background-color: #252628;
  color: #fbfee5;
  padding: 10px;
  text-align: center;
}

.contact__tittle {
  margin-top: 30px;
}

.contact__social-media {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.contact__linkedin,
.contact__github,
.contact__email,
.contact__whatsapp {
  align-items: center;
  color: #fbfee5;
  display: flex;
  font-size: smaller;
  justify-content: flex-start;
  margin: 20px;
  text-decoration: none;
}

.contact__img {
  display: block;
  margin: 5px;
  width: 30px;
}

.contact__message {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}

.contact__message__textarea {
  border-radius: 10px;
  margin: 0px 5px;
  padding: 5px;
}

.contact__message__input {
  border-radius: 10px;
  padding: 5px;
  width: 230px;
}

.contact__div__button {
  display: flex;
  justify-content: center;
}

.contact__button {
  background-color: #fc6e3d;
  box-shadow: 2px 2px 10px #181818;
  border: 1px solid #31140a;
  border-radius: 5px;
  color: #31140a;
  display: block;
  padding: 13px;
  transition: 0.1s all;
  width: 280px;
}

.contact__button:hover {
  background-color: #fa5f2b;
  transform: scale(1.05);
}

@media (max-width: 845px) {
  .contact__social-media {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 460px) {

    .contact__message textarea,
    .contact__message input {
      width: 171;
    }
  }
}