.contact {
  background-color: var(--dark-mode);
  color: var(--light-gray);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 85px;
  text-align: center;
}

.contact__tittle {
  color: var(--light-orange);
  margin-top: 30px;
}

.contact__social-media {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.contact__linkedin,
.contact__github,
.contact__email,
.contact__whatsapp {
  align-items: center;
  color: var(--light-mode);
  display: flex;
  font-size: smaller;
  justify-content: flex-start;
  margin: 20px;
  text-decoration: none;
}

.contact__img {
  display: block;
  margin: 5px;
  width: 30px;
}

.contact__message {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}

.contact__message__textarea {
  border-radius: 10px;
  margin: 0px 5px;
  padding: 5px;
}

.contact__message__input {
  border-radius: 10px;
  padding: 5px;
  width: 230px;
}

.contact__div__button {
  display: flex;
  justify-content: center;
}

.contact__button {
  background-color: var(--light-orange);
  box-shadow: 2px 2px 10px var(--header);
  border: 1px solid var(--burgundy-red);
  border-radius: 5px;
  color: var(--burgundy-red);
  display: block;
  padding: 13px;
  transition: 0.1s all;
  width: 280px;
}

.contact__button:hover {
  background-color: var(--dark-orange);
  transform: scale(1.05);
}

.contact__developed-by {
  background-color: var(--header);
  box-shadow: 2px 2px 15px 2px var(--header-transparent);
  border-top: 1px solid var(--black-border);
  color: var(--light-mode);
  bottom: 10px;
  padding: 4px;
}

.contact__developed-by span {
  font-weight: bolder;
}

@media (max-width: 845px) {
  .contact__social-media {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 460px) {
    .contact__message textarea,
    .contact__message input {
      width: 171;
    }

    .contact__developed-by p {
      display: flex;
      flex-direction: column;
    }
  }
}
