.header {
  align-items: center;
  background-color: var(--header);
  border-bottom: 1px solid var(--black-border);
  box-shadow: 2px 2px 15px 2px var(--header-transparent);
  display: flex;
  font-size: larger;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  padding: 13px;
  width: 100%;
  z-index: 1;
}

.header__tittle__disappear-320px {
  display: none;
}

.header__button {
  background-color: transparent;
  border: none;
  color: var(--light-mode);
  display: none;
  font-size: 38px;
}

.header__list {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.header__list__link {
  font-size: large;
  transition: color 0.1s;
}

.header__list__link:hover {
  color: var(--light-gray);
  text-decoration: underline;
}

/* class generica para os links do header  */
.header__link {
  background-color: transparent;
  border: none;
  color: var(--light-mode);
  padding: 16px;
  text-decoration: none;
}

.header__tittle--color {
  color: var(--light-orange);
}

.check {
  color: var(--light-gray);
}

@media (max-width: 906px) {
  .header {
    padding: 9px;
    align-items: center;
    flex-direction: column;
  }

  .header__titleAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .header__list {
    align-items: center;
    flex-direction: column;
  }

  .header__list li {
    width: 100%;
  }

  .header__button {
    display: block;
  }

  .header__button--color {
    color: var(--light-gray);
  }

  .header__nav {
    width: 100%;
  }

  .header__list__link {
    width: 100%;
    text-align: center;
    transition: 0.1s;
    display: block;
    padding: 12px;
  }

  .header__list__link:hover {
    background-color: var(--light-gray);
    text-decoration: none;
    cursor: pointer;
  }

  .header__nav--disappear {
    display: none;
  }

  @media (max-width: 460px) {
    .header__tittle {
      display: none;
    }

    .header__tittle__disappear-320px {
      display: block;
    }

    .header__list__link {
      padding: 20px 90px;
    }
  }
}
