.header {
  align-items: center;
  background-color: var(--header);
  border-bottom: 1px solid var(--black-border);
  box-shadow: 2px 2px 15px 2px var(--header-transparent);
  display: flex;
  font-size: larger;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: fixed;
  padding: 13px;
  width: 100%;
  z-index: 1;
}

.header__tittle__disappear-320px {
  display: none;
}

.header__button {
  background-color: transparent;
  border: none;
  color: var(--light-mode);
  display: none;
  font-size: 38px;
}

.header__list {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.header__list__link {
  font-size: large;
  transition: color 0.1s;
}

.header__list__link:hover {
  color: var(--light-gray);
  text-decoration: underline;
}

/* class generica para os links do header  */
.header__link {
  background-color: transparent;
  border: none;
  color: var(--light-mode);
  padding: 16px;
  text-decoration: none;
}

.header__tittle--color {
  color: var(--light-orange);
}

.check {
  color: var(--light-gray);
}

.header__button__theme {
  background-color: var(--light-gray);
  border-radius: 30px;
  right: 20px;
  top: 23px;
  width: 50px;
  height: 25px;
  cursor: pointer;
  position: absolute;
}

.header__button__theme .button__theme {
  height: 25px;
  width: 25px;
  background-color: var(--black-border);
  border-radius: 50%;
  transform: scale(0.9);
  position: absolute;
  left: 0;
  transition: 0.5s;
}

.header__button__theme.dark .button__theme {
  left: 25px;
  background-color: var(--light-mode);
}

section.dark {
  background-color: var(--light-mode);
  color: var(--dark-mode);
}

section.dark .home__button__github,
section.dark .home__button__linkedin {
  background-color: var(--light-mode);
}

section.dark .about-me__questions {
  color: var(--dark-mode);
}

section.dark .about-me__questions__tittle {
  color: var(--light-gray);
}

section.dark .manual_btn {
  border: 1px solid var(--dark-mode);
}

section.dark .navigation-auto div {
  border: 1px solid var(--dark-mode);
}

section.dark #radio1:checked ~ .navigation-auto .auto-btn1,
section.dark #radio2:checked ~ .navigation-auto .auto-btn2,
section.dark #radio3:checked ~ .navigation-auto .auto-btn3,
section.dark #radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--dark-mode);
}

section.dark #university {
  background-image: url("../image/estacio.jpg");
}

section.dark .container__skills__image div div {
  background-color: var(--dark-mode);
}

section.dark .git {
  background-image: url(../image/git-red-150px.png);
}

section.dark .github {
  background-image: url(../image/github-branco-150px.png);
}

section.dark .contact__linkedin,
section.dark .contact__github,
section.dark .contact__email,
section.dark .contact__whatsapp {
  color: var(--dark-mode);
}

@media (max-width: 906px) {
  .header {
    padding: 9px;
    align-items: center;
    flex-direction: column;
  }

  .header__button__theme {
    /* margin-right: 25px; */
  }

  .header__titleAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .header__list {
    align-items: center;
    flex-direction: column;
  }

  .header__list li {
    width: 100%;
  }

  .header__button {
    display: block;
  }

  .header__button--color {
    color: var(--light-gray);
  }

  .header__nav {
    width: 100%;
  }

  .header__list__link {
    width: 100%;
    text-align: center;
    transition: 0.1s;
    display: block;
    padding: 12px;
  }

  .header__list__link:hover {
    background-color: var(--light-gray);
    text-decoration: none;
    cursor: pointer;
  }

  .header__nav--disappear {
    display: none;
  }

  @media (max-width: 460px) {
    .header__tittle {
      display: none;
    }

    .header__tittle__disappear-320px {
      display: block;
    }

    .header__list__link {
      padding: 20px 90px;
    }
  }
}
