.home {
  align-content: center;
  align-items: center;
  background-color: var(--dark-mode);
  color: var(--light-mode);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  padding-top: 85px;
}

.home__text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 340px;
}

.home__title {
  color: var(--light-orange);
  font-size: 2em;
}

.container__home__button {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.home__button {
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.home__button__div {
  background-image: linear-gradient(to top, var(--purple), var(--blue));
  border-radius: 5px;
  cursor: pointer;
  padding: 1px;
}

.home__button__github,
.home__button__linkedin {
  align-items: center;
  background-color: var(--dark-mode);
  border-radius: 5px;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: medium;
  justify-content: space-evenly;
  padding: 2px;
  width: 130px;
}

/* class que da cor aos dois botões da home */
.span-button {
  background-image: linear-gradient(to top, var(--purple), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__button__image {
  height: 23px;
  width: 23px;
}

/* @keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} */

.home__photograph__div1 {
  /* animation: rotate 2s linear infinite; */
  border: 2px ridge var(--light-orange);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.home__photograph__image {
  /* animation: rotate 2s linear infinite reverse; */
  width: 200px;
  padding-top: 10px;
}

@media (max-width: 906px) {
  .home {
    flex-direction: column-reverse;
  }

  .home__photograph__div1 {
    width: 230px;
    height: 230px;
  }

  .home__photograph__image {
    width: 150px;
  }

  @media (max-width: 460px) {
    .home__text {
      padding: 0px;
      width: 300px;
    }

    .home__photograph__div1 {
      width: 200px;
      height: 200px;
    }

    .home__photograph__image {
      width: 120px;
    }

    .home__title {
      font-size: 1.5em;
    }
  }
}
