body {
  background-color: var(--dark-mode);
}

.portfolio {
  background-color: var(--dark-mode);
  color: var(--light-gray);
  text-align: center;
  padding-top: 90px;
}

.portfolio__title {
  color: var(--light-orange);
}

.portfolio__contents {
  margin: 10px;
  font-size: 0.7em;
}

.portfolio__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__projects__div {
  background-color: var(--dark-mode);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 190px;
  margin: 13px;
  width: 280px;
}

.portfolio__projects__div:hover {
  cursor: pointer;
}

.cadastro-de-alunos {
  background-image: url("../image/cadastro-de-alunos.png");
  background-position: top;
}

.shopping-cart {
  background-image: url("../image/shopping-cart.png");
}

.pokedex {
  background-image: url("../image/pokedex.png");
}

.jokenpo {
  background-image: url("../image/jokenpo.png");
}

.forca {
  background-image: url("../image/foto-projeto-forca.png");
}

.list {
  background-image: url("../image/todo-list.png");
}

.pixel-art {
  background-image: url("../image/projeto-pixel-art-mario.png");
}

.calculator {
  background-image: url("../image/calculator.png");
}

.conversor-de-numeros {
  background-image: url("../image/conversor-de-numero.png");
}

.projects {
  color: var(--light-gray);
}

.come-back {
  color: var(--light-gray);
}

.modal {
  border: none;
  border-radius: 10px;
  background-color: var(--dark-mode);
  box-shadow: 2px 2px 15px 2px var(--header-transparent);
  width: 80%;
  padding: 12px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--light-mode);
}

.modal::backdrop {
  backdrop-filter: blur(5px);
}

.modal h2 {
  margin-bottom: 12px;
  color: var(--dark-orange);
}

.modal .modal__close__button {
  background-color: transparent;
  border: none;
  color: var(--light-orange);
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 12px;
  right: 12px;
  transition: 0.1s all;
}

.modal .modal__close__button:hover {
  color: var(--dark-orange);
  transform: scale(1.05);
  cursor: pointer;
}

.modal .modal__description {
  padding: 6px;
  display: flex;
  align-items: center;
}

.modal__description .modal__container__description {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.modal__description__buttons {
  display: flex;
  justify-content: center;
}

.modal__description a {
  margin: 12px;
  padding: 0 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.modal__description__buttons #github {
  background-color: var(--black-border);
  border: 1px solid var(--black-border);
  color: var(--light-mode);
}

.modal__description__buttons #linkedin {
  background-color: rgb(0, 120, 212);
  border: 1px solid rgb(0, 120, 212);
  color: var(--light-mode);
}

.modal__description #application {
  width: 200px;
  margin: 0 auto;
  padding: 4px;
  background-color: var(--dark-orange);
  border: 1px solid var(--dark-orange);
  color: var(--light-mode);
}

.modal iframe {
  width: 50%;
  border-radius: 10px;
}

@media (max-width: 1199px) {
  .disappear--1200 {
    display: none;
  }
}

@media (max-width: 932px) {
  .disappear--914 {
    display: none;
  }

  .modal {
    padding: 12px;
    width: 100%;
  }

  .modal .modal__description {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__description .modal__container__description {
    width: 90%;
  }

  .modal iframe {
    width: 90%;
  }

  @media (max-width: 626px) {
    .portfolio__projects {
      justify-content: center;
    }

    .disappear--614 {
      display: none;
    }
  }
}
