.skills {
  align-items: center;
  background-color: var(--dark-mode);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 40px;
}

.skills__tittle {
  color: var(--light-orange);
  padding: 20px;
}

.container__skills__image {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container__skills__image div {
  display: flex;
}

.container__skills__image div div {
  align-items: center;
  align-content: center;
  background-color: var(--light-mode);
  border-radius: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  margin: 22px 16px;
  padding: 4px;
  width: 80px;
  height: 80px;
}

.skill__image {
  margin: 10px;
  width: 40px;
}

.html5 {
  background-image: url(../image/HTML5-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.css3 {
  background-image: url(../image/CSS3-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.javascript {
  background-image: url(../image/JS-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.php {
  background-image: url(../image/php.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.python {
  background-image: url(../image/python-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.java {
  background-image: url(../image/java-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.c {
  background-image: url(../image/C-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cpp {
  background-image: url(../image/Cpp-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.git {
  background-image: url(../image/git-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.github {
  background-image: url(../image/github-150px.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sql {
  background-image: url(../image/sql.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.arduino {
  background-image: url(../image/arduino.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 490px) {
  .container__skills__image div div {
    margin: 16px 8px;
    width: 70px;
    height: 70px;
  }
}
