.skills {
  align-items: center;
  background-color: var(--dark-mode);
  display: flex;
  flex-direction: column;
  height: 450px;
  padding-top: 90px;
}

.skills__title {
  color: var(--light-orange);
  padding: 20px;
}

.container__skills__image {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container__skills__image div {
  display: flex;
}

.container__skills__image div div {
  align-items: center;
  align-content: center;
  background-color: var(--light-mode);
  border-radius: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  margin: 22px 16px;
  padding: 4px;
  width: 80px;
  height: 80px;
}

.skill__image {
  margin: 10px;
  width: 40px;
}

.skills__div__icon {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.skills__div__icon__git {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  font-size: 30px;
}

.skills__div__icon p {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: black;
  margin: 0;
}

.skills__div__icon .fa-brands {
  font-size: 50px;
}

.fa-html5 {
  background: linear-gradient(
    to right,
    #e34f24 0%,
    #e34f24 50%,
    #f1672b 50%,
    #e34f24 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}

.fa-css3-alt {
  background: linear-gradient(to right, #0f73b8, #2dace1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}

.fa-square-js {
  background: linear-gradient(to right, #e3a127, #efbd24);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}

.fa-react {
  color: #70e2fc;
}

.fa-react_p {
  color: #70e2fc !important;
}

.fa-php {
  color: #320869;
}

.fa-git-alt {
  color: #f05032;
}

.fa-git {
  color: #493500;
}

.skills__div__icon .fa-github {
  color: black;
  font-size: 40px !important;
}

.skill__image {
  margin: 10px;
  width: 50px;
}

.php {
  background-image: url(../image/php.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sql {
  background-image: url(../image/sql.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 490px) {
  .container__skills__image div div {
    margin: 16px 8px;
    width: 70px;
    height: 70px;
  }
}
